// Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
// SPDX-License-Identifier: Apache-2.0
#include "about_resource.h"

#define APSTUDIO_READONLY_SYMBOLS

#define APSTUDIO_HIDDEN_SYMBOLS
#include "windows.h"
#undef APSTUDIO_HIDDEN_SYMBOLS
#undef APSTUDIO_READONLY_SYMBOLS

IDD_ABOUT DIALOGEX 0, 0, 359, 198
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "About"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    DEFPUSHBUTTON   "OK",IDOK,302,176,50,14
    EDITTEXT        IDC_ABOUT_VERSION,35,19,62,12,ES_AUTOHSCROLL | ES_READONLY
    EDITTEXT        IDC_ABOUT_NOTICES,7,35,345,134,ES_MULTILINE | ES_AUTOHSCROLL | ES_READONLY | WS_VSCROLL
    LTEXT           "",IDC_ABOUT_PRODUCT,7,7,345,8
    LTEXT           "Version:",IDC_ABOUT_VERSION_LABEL,7,21,25,8
END
